.NavigationBar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 10000;
}

header{
    width: 100vw;
    height: fit-content;
}

#dashbordContainer{
    max-width: 1200px;
    height: 550px;

    background-color: yellow;

    background-image: url("../Images/teaCup.jpg");
    background-position: bottom;
    background-size: cover;

    border-radius: 10px;

    position: relative;
    left: 0;
    right: 0;
    margin: auto;

    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

#dash_text{
    width: fit-content;
    height: fit-content;
    display: flex;
    border-radius: 10px;
    background-color:rgb(233 233 233 / 70%);
}

.mainTitle{
    font-size: 70px;
}
.subTitle{
    font-size: 20px;
}

@media all and (max-width: 710px) {
    #dash_text{
        display: block;
        text-align: center;
    }

    .mainTitle{
        font-size: 45px;
    }

    .subTitle{
        font-size: 18px;
    }
}


#dashDetailCon{
    max-width: 1200px;
    height: fit-content;

    display: flex;
    gap: 3px;
    justify-content: center;

    position: relative;
    left: 0;
    right: 0;
    margin: auto
}

.cardDash{
    width: auto;
    height: fit-content;
    background-color: white;
    border: 2px solid #004600;

    border-radius: 5px;
}

@media all and (max-width: 1005px){
    #dashDetailCon{
        display: grid;
        gap: 3px;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (max-width: 765px){
    #dashDetailCon{
        grid-template-columns: 250px 250px 138px;
    }
}

@media all and (max-width: 660px){
    #dashDetailCon{
        grid-template-columns: 250px 250px;
    }
}

@media all and (max-width: 530px){
    #dashDetailCon{
        grid-template-columns: 250px;
    }
}

#dashbordtableContainer{
    max-width: 1200px;
    height: fit-content;

    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

/* MANAGE CUSTOMER SECTION */
.customerCon{
    width: 100vw;
    height: fit-content;

    position: relative;
}

.customer{
    max-width: 1200px;
    height: fit-content;
    background-color: rgba(128, 128, 128, 0.288);
    border-radius: 10px;

    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.form{
    width: 310px;
    height: fit-content;
    padding: 15px;
    background-color: rgba(133, 133, 133, 0.253);
    border-radius: 10px;
    text-align: start;
}

.butons{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

.custGrid{
    width: 100%;
    height: fit-content;
    /* background-color: beige; */

    display: grid;
    grid-template-columns: fit-content(300px) 1fr;
}

.custTable{
    width: 100%;
    table-layout: fixed;
}

table{
    max-width: 100%;
    overflow: scroll;
}

@media all and (max-width : 800px) {
    .custGrid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
}

@media all and (max-width : 475px) {
    .customer{
        margin: 0;
        padding: 0;
    }

    .custTable{
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .form{
        width: 100%;
        margin: 0 !important
    }

    .custGrid{
        margin: 0;
        padding: 0;
    }

    .butons{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .butons>button{
        margin: 1px;
    }

    .butons>button:nth-child(4){
        grid-column: 1/4;
    }
}

@media all and (max-width: 800px) {
    .custGrid {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

/* MAKE SMALL FONS */
@media screen and (max-width: 800px) {
    /* th,td{
        font-size: 8.5px;
    } */

    .dashboard{
        margin: 10px;
    }

    .customerCon,.dashboard_Con{
        padding: 0 !important
    }
}

#Customer, #Item, #Orders{
    display: none;
}

th,td{
    font-size: 60%;
    overflow: hidden;
}